// Mixins Here
.flex (@direction, @justify, @align,){
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
}

.buttons (@color, @background, @radius){
    color: @color;
    background: @background;
    border-radius: @radius;
    cursor: pointer;
}

.animations(@ani-name, @duration) {
    animation-name: @ani-name;
    animation-duration: @duration;
    animation-iteration-count: infinite;
}